.icon {
  position: absolute;
  top: 20px;
  right: 20px;

  cursor: pointer;
}

/*  * import { SlClose } from 'react-icons/sl'; 
    * <SlClose className='icon' size={20} />
    * Colocar um position: relative no form
*/
