.inputsPattern {
  height: 38px;
  width: 100%;

  padding-left: 10px;

  font-size: var(--text-size-3);
  letter-spacing: 1px;

  border-radius: var(--border-radius-2);
  border: none;
}

.inputsPattern--textarea {
  height: 110px;

  padding-top: 10px;
}

.form__select {
  position: relative;

  cursor: pointer;

  color: var(--grey-1);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: url('https://cdn-icons-png.flaticon.com/512/2026/2026655.png');
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: right;
}
