.inputsPattern {
  height: 38px;
  width: 100%;

  padding-left: 10px;

  font-size: var(--text-size-3);
  letter-spacing: 1px;

  border-radius: var(--border-radius-2);
  border: none;

  background-color: var(--grey-5);
}

.form__select {
  cursor: pointer;

  color: var(--grey-1);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
