.form__title {
  color: var(--grey-0);

  font-size: var(--text-size-1);
  font-weight: var(--text-weight-2);
}

.form__label {
  color: var(--grey-0);

  font-weight: var(--text-weight-3);
  font-size: var(--text-size-3);
}
